/* Variables */

:root {
--color-dark: #000000;
--primary-color: #0061FF;
--lighter-dark: #0D0D0D;
--color-bordeuax: #61082B;
--bg_lightblue: #B4D0E7;

}

/* Common rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-width: 100%;
}

/* Utility */

.row::after {
    content: "";
    display: table;
    clear:both;
}

div[class^="col_"] {
    float: left;
}

.col_35 {
    width: 35%;
}

.col_50 {
    width:50%;
}

.col_65 {
    width: 65%;
}

img {
    max-width: 100%;
}

.btn_bg_blue {
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: 4px 16px;
}

.container_lg {
    width:85%;
    margin: 0 auto;
}

/* Header */

.menu_header,.logo_header,.btn_header {
    display: inline-block;
}

header .menu_header a{
    text-decoration: none;
    color: var(--lighter-dark);
}

.header_nav .col_50 {
    padding: 20px;
}

.logo_header img {
    vertical-align: sub;
}

.menu_header a {
    padding: 20px;
}

.col_50.right {
    text-align: right;
}

/* Main */
.jumbotron {
    background-color: var(--bg_lightblue);
    height: 1050px;
}

.jumbotron h1 {
    font-size: 95px;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-right: 500px;

}

.jumbotron .cancel {
    padding-top: 10px;
}

.jumbotron p {
    padding-right: 350px;
}

.arrow_down {
    font-size: 50px;
    padding-top: 40px;
}

.jumbotron .btn_jumbo {
    padding-top: 30px;
}

.jumbotron .jumbo_img {

}